# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

## Tool for DataScience

# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## Introduction

This is a practical Jupyter Notebook test.

# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

+ Python
+ R
+ Julia

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

+ Pandas
+ Numpy
+ Seaborn

# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)


Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

sum = 7 + 4

print(sum)

## Result 11


ope = (7+4)*2

print(ope)


## Result 22

div = (6+4)/2

print(div)

## Result 5

# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

(5*4)+5


## Result: 25

# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [8]:
#This will convert 100 minutes to hours by diving by 60

days = 0
hours = 0
mins = 0

time = 100
lo_minutes = time % 1440
hours = lo_minutes / 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 1.6666666666666667 hours

0 days, 1.6666666666666667 hours, 0 mins.

# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

<p>Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</p>

# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author: Elthon Daniel Rivas